{% extends "base.html" %}

{% block content %}
<h1>Bills</h1>

<div class="top-section">

    <div class="form-area">

        <h2 class="section-title">Add a New Bill</h2>

        <form method="POST" action="/bills">
            <div class="form-group">
                <label for="vendor">Vendor</label>
                <input type="text" id="vendor" name="vendor" required>
            </div>

        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="due_date">Due Date</label>
            <input type="date" id="due_date" name="due_date" required>
        </div>
        <div class="form-group">
            <label for="frequency">Frequency</label>
            <select id="frequency" name="frequency" required>
                <option value="">Select one</option>
                <option value="monthly">Monthly</option>
                <option value="weekly">Weekly</option>
                <option value="yearly">Yearly</option>
                <option value="one-time">One-time</option>
            </select>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes"></textarea>
        </div>
    <button type="submit">Save Bill</button>
        </form>

    </div>

    <img class="bill-logo-side" 
            src="{{ url_for('static', filename='form_logo.jpeg') }}" 
            alt="Ty Bill App logo">

</div>

<h2 class="section-title">Monthly Bills</h2>

<section class="dashboard-cards">

    <div class="dashboard-card-income">
        <h3>Monthly Income</h3>
        <p>${{ "%.2f" | format(monthly_income) }}</p>
    </div>

    <div class="dashboard-card">
        <h3>Total Monthly Due</h3>
        <p>${{ "%.2f" | format(total_due) }}</p>
    </div>

    <div class="dashboard-card {% if total_unpaid > 0 %}need-to-pay{% else %}all-paid{% endif %}">
        <h3>Unpaid Bills</h3>
        <p>${{ "%.2f" | format(total_unpaid) }}</p>
    </div>

 <div class="dashboard-card-left {% if left_after_bills > 0 %}positive-balance{% elif left_after_bills < 0 %}negative-balance{% else %}neutral-balance{% endif %}">
    <h3 class = "card-title">Left After Bills</h3>
    <p>${{ "%.2f" | format(left_after_bills) }}</p>
</div>

</section>

<div class="filter-buttons">
    <a href="{{ url_for('bills', status='all') }}"
       class="filter-btn {% if active_filter == 'all' %}active-filter{% endif %}">
        All
    </a>

    <a href="{{ url_for('bills', status='unpaid') }}"
       class="filter-btn {% if active_filter == 'unpaid' %}active-filter{% endif %}">
        Unpaid
    </a>

    <a href="{{ url_for('bills', status='paid') }}"
       class="filter-btn {% if active_filter == 'paid' %}active-filter{% endif %}">
        Paid
    </a>
</div>

<table class="saved-bills-table"> 
    <colgroup>
        <col class="col-vendor;">
        <col class="col-amount;">
        <col class="col-due-date;">
        <col class="col-frequency;">
        <col class="col-notes;">
    </colgroup>

    <thead>
        <tr>
            <th>Vendor</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Frequency</th>
            <th>Notes</th>
            <th>Manage</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td class="vendor-name">{{ bill["vendor"] }}</td>
            <td>${{ "%.2f" | format(bill["amount"] | float) }}</td>
            <td>{{ bill["due_date"] }}</td>
            <td class="frequency">{{ bill["frequency"] }}</td>
            <td>{{ bill["notes"] }}</td>
            <td class="manage-cell">
                <a class = "btn-edit" href="{{ url_for('edit_bill', bill_id=bill['id']) }}">Edit</a>

                <form method="POST" action="{{ url_for('delete_bill', bill_id=bill['id']) }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        <td class="status-cell">
            {{ bill["display_status"] }}
        </td>
        <td class="paid-unpaid">
            <form method="POST" action="{{ url_for('toggle_paid_status', bill_id=bill['id']) }}">
                {% if bill["paid"] %}
            <button type="submit" class="btn-unpaid">Mark as Unpaid</button>
                {% else %}
            <button type="submit" class="btn-paid">Mark as Paid</button>
        {% endif %}
            </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}